body{
  font-family: Arial, Helvetica, sans-serif;
}

.App{
  display: flex;
  justify-content: center;
}

.title{
  text-align: center;
  text-decoration: underline;
}      

.title-box{
  display: flex;
  justify-content: space-between;
}

textarea{
  width: 800px;
  min-height: 500px;
  font-size: 1.3em;
  opacity: 0.9;
}

img{
  width: 300px;
}